{% extends 'base.html' %}

{% block content %}
<h1>Расчет</h1>
<p>Выберите необходимые файлы для расчета</p>
<form action="" method="POST" enctype="multipart/form-data">
  <table>
    <row>
      <td>
        <div>{{ form.date_purpose.label }}</div>
        <div>{{form.date_purpose (class= "datepicker")}}</div>
        <div>{{ form.hidden_tag() }}</div>
        <div>
          </br>
          <input type="file" name="file" multiple />
          <!-- {{ files }} -->
        </div>
        <div>
          </br>
          <input type="submit" value="Выполнить" />
          {{ form.option_is_archi }}(Archi)
          </br>
          {{ error }}
        </div>
      <td>
        <div>
          {{ form.option_clients }}(Общий)
        </div>
        <div>
          {{ form.option_handle }}(операции вручную)
        </div>
        <div>
          </br>
          {{ form.option_weighted_average }}(ср.взвешенная)
        </div>
        <div>
          {{ form.option_kategory }}(категория)
        </div>
        <div>
          {{ form.option_reserve }}(резерв)
        </div>
      </td>
      <td>
        <div>
          </br>
          </br>
          </br>
          {{ form.option_cb_common}}(ЦБ Общий)
        </div>
        <div>
          {{ form.option_cb_kassa}}(ЦБ касса)
        </div>
        <div>
          {{ form.option_cb_rs}}(ЦБ р/c)
        </div>
      </td>
      <td>
      </td>
    </row>
    <row>
      <td colspan="5">

      </td>
    </row>
  </table>
</form>
{% endblock %}