{% extends "base.html" %}

{% block content %}
    <h1></h1>
    <form action="" method="post" enctype="multipart/form-data" novalidate>
        {{ form.hidden_tag() }}
        <p>
            <table>
                <tr>
                    <td>
                        {{ form.datafile58.label }}
                    </td>
                    <td>
                        {{ form.datafile58(size=64) }}
                    </td>
                    <td>
                        {% for error in form.datafile58.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </td>
                </tr>
                <tr>
                    <td>
                        {{ form.datafile58PDN.label }}
                    </td>
                    <td>
                        {{ form.datafile58PDN(size=64) }}
                    </td>
                    <td>
                        {% for error in form.datafile58PDN.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </td>
                </tr>
                <tr>
                    <td>
                        {{ form.datafile76.label }}
                    </td>
                    <td>
                        {{ form.datafile76(size=64) }}
                    </td>
                    <td>
                        {% for error in form.datafile76.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </td>
                </tr>
                <tr>
                    <td>
                        {{ form.datafilePDN.label }}
                    </td>
                    <td>
                        {{ form.datafilePDN(size=64) }}<br>
                    </td>
                    <td>
                        {% for error in form.datafilePDN.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </td>
                </tr>
                <tr>
                    <td>
                        {{ form.datafileIRKOM.label }}
                    </td>
                    <td>
                        {{ form.datafileIRKOM(size=64) }}
                    </td>
                    <td>
                        {% for error in form.datafileIRKOM.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </td>
                </tr>
                <tr>
                    <td colspan="3">
                        <p>{{ form.submit() }}</p>
                    </td>
                </tr>
            </table>
        </p>
    </form>
 {% endblock %}
