{% extends "base.html" %}

{% block content %}
    <h1></h1>
    <form action="" method="post" enctype="multipart/form-data" novalidate>
        {{ form.hidden_tag() }}
        <p>
            <table>
                <tr>
                    <th colspan="2">
                        Основная
                    </th>
                </tr>
                <tr>
                    <td>
                        {{ form.datafile58WA.label }}
                    </td>
                    <td>
                        {{ form.datafile58WA(size=64) }}
                    </td>
                    <td>
                        {% for error in form.datafile58WA.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </td>
                </tr>
                <tr>
                    <td>
                        {{ form.datafile58RES.label }}
                    </td>
                    <td>
                        {{ form.datafile58RES(size=64) }}
                    </td>
                    <td>
                        {% for error in form.datafile58RES.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </td>
                </tr>
            </table>
            <table>
                <tr>
                    <th colspan="2">
                        Дополнительная
                    </th>
                </tr>
                <tr>
                    <td>
                        {{ form.datafile76.label }}
                    </td>
                    <td>
                        {{ form.datafile76(size=64) }}
                    </td>
                    <td>
                        {% for error in form.datafile76.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </td>
                </tr>
                <tr>
                    <td>
                        {{ form.datafilePDN.label }}
                    </td>
                    <td>
                        {{ form.datafilePDN(size=64) }}<br>
                    </td>
                    <td>
                        {% for error in form.datafilePDN.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </td>
                </tr>
                <tr>
                    <td>
                        {{ form.datafileIRKOM.label }}
                    </td>
                    <td>
                        {{ form.datafileIRKOM(size=64) }}
                    </td>
                    <td>
                        {% for error in form.datafileIRKOM.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </td>
                </tr>
                <tr>
                    <td>
                        {{ form.datafiles.label }}
                    </td>
                    <td>
                        <input type="file" name="file" multiple />
                    </td>
                    <td>
                        {% for error in form.datafiles.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </td>
                </tr>
                <tr>
                    <td>
                        {{ form.option_is_archi}}
                    </td>
                    <td>
                        {{ form.option_is_archi.label }}
                    </td>
                    <td>
                    </td>
                </tr>
                <tr>
                    <td colspan="3">
                        <p>{{ form.submit() }}</p>
                    </td>
                </tr>
            </table>
        </p>
    </form>
 {% endblock %}
